.calendar {
  box-sizing: border-box;
  width: 222px;
  padding: 6px;
  box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, .1);
  border-radius: 6px;
}

.header {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 6px 6px 0 0;
}

.nav {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}

.datetime {
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;
}

.week-container,
.day-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
}

.week-cell,
.day-cell {
  flex: 0 0 calc(100% / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.day-cell--faded {
    opacity: .4;
}

.day-cell--today {
  border-radius: 50%;
  background: gray;
  color: wheat;
}